.login-container{
    height: 80vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-logo{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.login-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    gap: 25px;
}

.input-group{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}