@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #f5f5f5;
}

.nav-container .logo{
    width: 100px;
    height: auto;
}

.nav-container .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-container .logo img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.nav-container .profile{
    width: 130px;
    height: 60px;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    transition: all 0.3s ease;
}

.nav-container .profile:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.nav-container .profile .initials{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #4d4c4c;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 5px;
}

.menu-bar {
    display: none;
    gap: 20px;
}

/*----Main Content Layout----*/
.main-content {
    display: flex;
    gap: 20px;
    min-height: calc(100vh - 80px);
}

.side-nav {
    width: 250px;
    padding: 20px;
    display: block;
    height: fit-content;
    position: sticky;
    top: 15%;
}

.side-nav .menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.side-nav .menu-list .list-item{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #333;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #333;
}

.side-nav .menu-list .list-item li{
    display: flex;
    align-items: center;
}
.side-nav .menu-list .list-item .list-icon{
    margin-right: 10px;
    font-size: 18px;
}

.side-nav .menu-list .list-item:hover{
    background-color: #ebe5e5;
    transform: scale(1.05);
}


.content-area{
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.divider{
    position: sticky;
    top: 14%;
}



@media (max-width: 768px) {
    .menu-bar {
        display: flex;
    }

    .nav-container .profile{
        display: none;
    }

    .side-nav{
        display: none;
    }
}